body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.title {
    width: 50%;
    height: auto;
    padding: 2px;
    margin: 0 auto;
    background-color: rgb(173, 20, 20);
}

h1 {
    text-align: center;
    color: whitesmoke ;
    font-size: 48px;
}

h2 {
    font-weight: 700;
    color: rgb(173, 20, 20) ;
    font-size: 28px;
}

.intros {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    font-size: 18px;
}

.recipe {
    font-style: italic;
}

.main {
    width: 50%;
    height: 20% ;
    margin: 0 auto;
    display: block;
}

h3 {
    background-color:rgb(173, 20, 20) ;
    color: white ;
}

.attention {
    color: white;
    background-color: rgb(173, 20, 20);
    border: dotted;
    display: inline-block;  
    padding: 5px;  
}

.recipes {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.recipe {
    border: dotted;
    padding: 3px;
    margin: 2px;
    display: inline-block;
}