body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.space {
    height: 10px;
}

.title {
    width: 50%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(173, 20, 20);
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 700;
    color: rgb(173, 20, 20) ;
    font-size: 28px;
    text-align: center;
}

.subtitle {
    width: 20%;
    height: auto;
    padding: 5px;
    margin: 0 auto;
    border: dashed;
    display: block;
    background-color:rgb(173, 20, 20);
    color: white ;
    text-align: center;
}

p {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    font-size: 18px;
}

.main {
    width: 50%;
    height: 20% ;
    margin: 0 auto;
    display: block;
}

.photo {
    width: 30%;
    margin: 10px auto;
    display: block;
}

.attention {
    color: white;
    background-color: rgb(173, 20, 20);
    border: dotted;
    display: inline-block;  
    padding: 5px;  
}

.second {
    width: 50%;
    margin: 0 auto;
}

.recipe {
    border: dotted;
    padding: 3px;
    margin: 2px;
    display: inline-block;
    font-style: italic;
}

.mainlist {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.ingredients {
    width: 20%;
    margin: 10px auto;
    padding: 5px;
    text-align: left;
}

.steps {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}